@import 'colors';

main{
    margin-top: 100px;
    .container {
        display: flex;
        justify-content: space-evenly;
        .card {
            width: 23%;
            img {
                width: 100%;
                border-radius: 10px;
                border: 1px solid black;
            }
        }
    }
}